{

}
.container
{
width: 970px;
margin: auto;
background-color: #FAFBF8;



}

.header{
  height: 120px;
  position: relative;
}
.header img{
  height: 100px;
  width: 200px;
}
.left{
  left:10px;
  position: absolute;
}
.right{
  right:10px;
  position: absolute;
}
.inline{
  display: inline-block;
  vertical-align: top;


}
.header-top{
  vertical-align: top;
display:inline-block;
}
.header-nav li {
  margin: 0;
  height: 50px;
  width: 80px;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-right:  2px solid black;
  display: inline-block;
  line-height: 50px;


}
.header-nav ul{
  margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 86px;
    border-right-width: 2px;
    padding-left: 0px;
  border: 3px solid black;
  display: inline-block;

}
.main{

  background: -webkit-linear-gradient(left top, #1D0E14, #5C5270, #6A5867, #1D0F16); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1D0E14, #5C5270, #6A5867, #1D0F16); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1D0E14, #5C5270, #6A5867, #1D0F16); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1D0E14, #5C5270, #6A5867, #1D0F16); /* Standard syntax (must be last) */


}
.main-top{

position: relative;
height: 300px;
}

.main-img img {
  margin-top: 20px;
  margin-left: 25px;
  height: 250px;
  width: 450px;
  display: inline-block;


}
.main-description{

height: 220px;
width: 400px;
background-color:#E8E7EF ;
vertical-align: top;


}
.main-container{
width:400px;
margin-right: 33px;

}
.main-bottom{

}
.middle {
    text-align: right;
    height: 10px;
    margin-top: -20px;
    margin-bottom: 0px;
}
.middle p {
    color: teal;
    font-size: 10px;
    margin-right: 70px;
    display: inline-block;
}
.middle img {
    width: 10px;
    display: inline-block;
}
.subhead {

margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    /*background-color: #777;*/


    background: -webkit-linear-gradient( #FDFDFC, #898794,#A8A5AE, #FDFDFC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FDFDFC, #898794 , #A8A5AE, #FDFDFC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FDFDFC , #898794, #A8A5AE, #FDFDFC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FDFDFC, #898794,#A8A5AE, #FDFDFC); /* Standard syntax (must be last) */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B3BA', endColorstr='#898794',GradientType=0 ); /* IE6-9 */
}
.item {
  height: 600px;
  width:213px;
  margin-right: 10px;



  position: relative;
}

.item p{
  padding: 0 10px;
}
.item img{

  height:150px;
  width: 100%;

}
.button{
  position: absolute;
  bottom: 30px;
  right: 10px;
  border-radius: 5px;
}

button{
  background-color: #5C729C;
border-radius: 7px;
}
.sub-description{
  height: 530px;
  width: 100%;
  vertical-align: top;
  background: -webkit-linear-gradient(left top, #9EAAC3, #B3BDD1, #D4DAE5, #F2F4F7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #9EAAC3, #B3BDD1, #D4DAE5, #F2F4F7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #9EAAC3, #B3BDD1, #D4DAE5, #F2F4F7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #9EAAC3, #B3BDD1, #D4DAE5, #F2F4F7); /* Standard syntax (must be last) */
}
