body {
    background-color: #1D2B60;
    color: #fff;
}
h1 {
    color: #BFD6ED;
}
a {
    color: #00DADE;
}
a:hover {
    text-decoration: none;
}
div {
    border-radius: 14px;
    padding: 14px;
    margin: 10px;
}
.top {
    background-color: #F10000;
    border-radius: 8px;
    height: 40px;
    align-items: center;
    display: flex;
}
.nav {
    background-color: #008490;
    vertical-align: top;
    display: inline-block;
    width:200px;

}
.main {
    background-color: #0C1723;
    vertical-align: top;
    display: inline-block;
    width:666px;
}
.main ul {
    margin-left: -24px;
}
.main li {
    margin-bottom: 12px;
}
.bottom {
    background-color: #5C6475;
    height: 24px;
    align-items: center;
    display: flex;
    clear: both;
}
.highlight {
    color: #8D84FF;
}
.nav ul {
    list-style: none;
    margin-left: -24px;
}
.nav ul ul {
    list-style: disc;
    margin-left: -24px;
}
.nav ul ul ul {
    list-style: circle;
}
.container {
    width: 970px;
    margin:auto;
}
